<!--==============Contact us-->
<div class="contact-outer">
  <h1 class="contact-topic">CONTACT US</h1>
  <p class="contact-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius enim exercitationem ipsa itaque magni maiores, minus odit quas repellat sapiente soluta temporibus voluptate! Aperiam asperiores magni sint.</p>
</div>
<div class="desc-outer">
  <h3 class="desc-topic" style="font-size: 20px">Address</h3>
  <p class="contact-description">
    Vista Hotel
    <br>Lake side road <br>
    Cinamon Garden<br>Colombo 7
  </p>
</div>
<div class="desc-outer">
  <h3 class="desc-topic" style="font-size: 20px">Contact No</h3>
  <p class="contact-description">
    +94-917 895 623
    <br>+94-778 956 124 <br>
    +94-785 696 857
  </p>
</div>
<!--footer-->
<div class="footer-dark">
  <div class="main">
    <div class="inner">
      <div class="left">

      </div>
      <div class="right">

      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <p class="copyright">Vista © 2024</p>
    </div>
  </footer>
</div>
<!--footer-->

<!--==============Contact us-->


<router-outlet></router-outlet>

