<div class="slider-outer">
  <div class="dark-shadow">
    <h1 class="header-text">
      Feeling cool like your favourite place...
    </h1>
    <p class="description">
      We strive to be the BEST in our field to make you more comfortable.
      We are ready to welcome you to our place where you can be like at home.
    </p>
    <button class="make-reservation-button" routerLink="/auth-context/login">Administration</button>
  </div>
</div>
<!--=======Slider-->
<router-outlet></router-outlet>

