
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Room Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button (click)="onOpenModal(null, 'add')">Add Room <span class="sr-only">(current)</span></button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchRoom(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search rooms..." required>
    </form>
  </div>
</nav>
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let room of rooms" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="./assets/images/room.png" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{room?.roomType}}</h5>
            <p class="m-0">{{room?.roomRate}}</p>
          </div>
        </div>
        <ul style="background-color: #707070" class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-user float-right"></i>Capacity : {{room?.roomCapacity}}</li>
          <li class="list-group-item"><i class="fa fa-calendar float-right"></i>Status : {{room?.roomStatus}}</li>
          <li class="list-group-item"><i class="fa fa-sort-numeric-desc float-right"></i>Floor Number : {{room?.floorNumber}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModalEdit(room, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModalEdit(room, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Room Modal -->
  <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRoomModalLabel">Add Room</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddRoom(addForm)">
            <div class="form-group">
              <label for="type">Room Type</label>
              <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Room Type" required>
            </div>
            <div class="form-group">
              <label for="status">Room Status</label>
              <input type="text" ngModel name="status" class="form-control" id="status" placeholder="Room Status" required>
            </div>
            <div class="form-group">
              <label for="capacity">Room Capacity</label>
              <input type="number" ngModel name="capacity" class="form-control" id="capacity" placeholder="Room Capacity" required>
            </div>
            <div class="form-group">
              <label for="floor">Floor Number</label>
              <input type="number" ngModel name="floor" class="form-control" id="floor" placeholder="Floor Number" required>
            </div>
            <div class="form-group">
              <label for="rate">Room Rate</label>
              <input type="text" ngModel name="rate" class="form-control" id="rate" placeholder="Room Rate" required>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-room-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateRoomModal" tabindex="-1" role="dialog" aria-labelledby="roomEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateRoomModalLabel">Edit Room {{editRoom?.roomType}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="type">Room Type</label>
              <input type="text" ngModel="{{editRoom?.roomType}}" name="type" class="form-control" id="editType" aria-describedby="emailHelp" placeholder="Room Type">
            </div>
            <input type="hidden" ngModel="{{editRoom?.id}}" name="id" class="form-control" id="id" placeholder="Id">
            <div class="form-group">
              <label for="status">Room Status</label>
              <input type="text" ngModel="{{editRoom?.roomStatus}}" name="status" class="form-control" id="editStatus" placeholder="Room Status">
            </div>
            <div class="form-group">
              <label for="capacity">Room Capacity</label>
              <input type="number" ngModel="{{editRoom?.roomCapacity}}" name="capacity" class="form-control" id="editCapacity" placeholder="Room Capacity">
            </div>
            <div class="form-group">
              <label for="floor">Floor Number</label>
              <input type="number" ngModel="{{editRoom?.floorNumber}}" name="floor" class="form-control" id="editFloor"  placeholder="Floor Number">
            </div>
            <div class="form-group">
              <label for="rate">Room Rate</label>
              <input type="text" ngModel="{{editRoom?.roomRate}}" name="rate" class="form-control" id="editRate" placeholder="Room Rate">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateRoom(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteRoomModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Room</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete room {{deleteRoom?.roomType}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteRoom(deleteRoomId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no users -->
<div *ngIf="rooms?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO ROOMS!</h4>
    <p>No rooms were found.</p>
  </div>
</div>

<router-outlet></router-outlet>

