<!--=======Navigations-->
<header class="top-header">
  <div class="top-left-slide" id="top-left-id">
    <img style="width: 210px" src="./assets/images/vista.png" alt="logo">
<!--    <h1 class="business-logo">Vista</h1>-->
  </div>
  <div class="top-right-slide" id="top-right-id">
    <ul class="navigation-outer">
      <li>
        <a routerLink="/navigation/home">HOME</a>
      </li>
      <li>
        <a routerLink="/navigation/rooms">ROOMS</a>
      </li>
      <li>
        <a routerLink="/navigation/facilities">FACILITIES</a>
      </li>
      <li>
        <a routerLink="/navigation/gallery">GALLERY</a>
      </li>
      <li>
        <a routerLink="/navigation/team">TEAM</a>
      </li>
      <li>
        <a routerLink="/navigation/contact">CONTACT</a>
      </li>
    </ul>
  </div>
</header>
<!--=======Navigations-->
<router-outlet></router-outlet>

