<!--==============Team-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="team-outer">
  <div class="team-inner">
    <h1 class="txt-for-team-title">OUR TEAM</h1>
    <p class="text-team-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur earum enim incidunt iusto quam
      sapiente sequi sint, sit suscipit?
    </p>

    <!------------Profile-wrap-->

    <div class="profile-context">
      <div class="profile-outer">
        <div class="avatar-wrap">
          <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
        </div>
        <h4>
          ISHAN DIAS
        </h4>
        <h6>
          General Manager
        </h6>
        <div class="link-tab-outer">
          <button><i class="fab fa-facebook-f"></i></button>&nbsp;
          <button><i class="fab fa-twitter"></i></button>&nbsp;
          <button><i class="fab fa-linkedin-in"></i></button>
        </div>
      </div>
      <div class="profile-outer">
        <div class="avatar-wrap">
          <img src="https://th.bing.com/th/id/OIP.WpaDQTLANgWnifjZ9KsGFwHaH3?pid=ImgDet&w=872&h=926&rs=1">
        </div>
        <h4>
          RITHIK PERERA
        </h4>
        <h6>
          Assistant manager
        </h6>
        <div class="link-tab-outer">
          <button><i class="fab fa-facebook-f"></i></button>&nbsp;
          <button><i class="fab fa-twitter"></i></button>&nbsp;
          <button><i class="fab fa-linkedin-in"></i></button>
        </div>
      </div>
      <div class="profile-outer">
        <div class="avatar-wrap">
          <img src="https://th.bing.com/th/id/OIP.0s7mG35OzY-LxIszAU6kOAHaE7?pid=ImgDet&rs=1">
        </div>
        <h4>
          ARYAN NUGERA
        </h4>
        <h6>
          Chief Cook
        </h6>
        <div class="link-tab-outer">
          <button><i class="fab fa-facebook-f"></i></button>&nbsp;
          <button><i class="fab fa-twitter"></i></button>&nbsp;
          <button><i class="fab fa-linkedin-in"></i></button>
        </div>
      </div>
      <div class="profile-outer">
        <div class="avatar-wrap">
          <img src="./assets/images/10.jpg">
        </div>
        <h4>
          BINUSH DIAS
        </h4>
        <h6>
          Co-ordinator
        </h6>
        <div class="link-tab-outer">
          <button><i class="fab fa-facebook-f"></i></button>&nbsp;
          <button><i class="fab fa-twitter"></i></button>&nbsp;
          <button><i class="fab fa-linkedin-in"></i></button>
        </div>
      </div>
      <div class="profile-outer">
        <div class="avatar-wrap">
          <img src="https://th.bing.com/th/id/OIP.-UOvlB-1Dnyyk0t5ncnf0wHaJV?pid=ImgDet&w=961&h=1211&rs=1">
        </div>
        <h4>
          FALAN ANDREA
        </h4>
        <h6>
          Chief receptionist
        </h6>
        <div class="link-tab-outer">
          <button><i class="fab fa-facebook-f"></i></button>&nbsp;
          <button><i class="fab fa-twitter"></i></button>&nbsp;
          <button><i class="fab fa-linkedin-in"></i></button>
        </div>
      </div>
    </div>

    <!------------Profile-wrap-->

  </div>
</div>

<!--==============Team-->
<router-outlet></router-outlet>

