<!--=======rooms-->
<!--=======rooms-outer-->
<section class="rooms-outer">
  <div class="rooms-top-outer">
    <h1 class="rooms-title">OUR ROOMS</h1>
    <p class="rooms-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum reprehenderit, voluptatum. Beatae eos minima molestias nulla omnis, possimus sint voluptas.
    </p>
  </div>
  <div class="rooms-row">
    <div class="rooms-row-inner">
      <div class="rooms-context">
        <div class="room-image">
          <img src="https://live.staticflickr.com/2665/3727607470_de461cc5ba.jpg" alt="luxury rooms" height="401" width="355">

        </div>
        <div class="rooms-topic">
          <h2>LUXURY ROOMS</h2>
        </div>
        <div class="rooms-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur ea eum id soluta, ut?
        </div>
        <div class="rooms-price">
          Starting from 200$
        </div>
      </div>
      <div class="rooms-context">
        <div class="room-image">
          <img src="https://pix10.agoda.net/hotelImages/245/2453627/2453627_17122703100060634964.jpg" alt="Royal rooms" height="401" width="355">
        </div>
        <div class="rooms-topic">
          <h2>ROYAL ROOMS</h2>
        </div>
        <div class="rooms-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur ea eum id soluta, ut?
        </div>
        <div class="rooms-price">
          Starting from 150$
        </div>
      </div>
      <div class="rooms-context">
        <div class="room-image">
          <img src="https://th.bing.com/th/id/R.bebf0fe8865ccc838a04aab7af53d90a?rik=FjzxA7ATFJnV3w&pid=ImgRaw&r=0" alt="delux rooms" height="401" width="355">

        </div>
        <div class="rooms-topic">
          <h2>DELUX ROOMS</h2>
        </div>
        <div class="rooms-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur ea eum id soluta, ut?
        </div>
        <div class="rooms-price">
          Starting from 120$
        </div>
      </div>

    </div>

  </div>
  <div class="rooms-row">
    <div class="rooms-row-inner">
      <div class="rooms-context">
        <div class="room-image">
          <img src="https://images.sunshine.co.uk/ss/htl/0/5/4/5420-23-l.jpg" alt="family rooms" height="401" width="355">

        </div>
        <div class="rooms-topic">
          <h2>FAMILY ROOMS</h2>
        </div>
        <div class="rooms-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur ea eum id soluta, ut?
        </div>
        <div class="rooms-price">
          Starting from 160$
        </div>
      </div>
      <div class="rooms-context">
        <div class="room-image">
          <img src="https://images.trvl-media.com/hotels/2000000/1880000/1873300/1873292/73dc3194_z.jpg" alt="double bed rooms" height="401" width="355">

        </div>
        <div class="rooms-topic">
          <h2>DOUBLE BED ROOMS</h2>
        </div>
        <div class="rooms-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur ea eum id soluta, ut?
        </div>
        <div class="rooms-price">
          Starting from 100$
        </div>
      </div>
      <div class="rooms-context">
        <div class="room-image">
          <img src="https://th.bing.com/th/id/R.7d6d3f2949e843e94c8b222ccc8a78b8?rik=ClTXhLLbUODrDQ&riu=http%3a%2f%2fhotelhennessis.com%2fwp-content%2fuploads%2f2015%2f12%2fStandard-Single-Room-Hotel-Hennessis-1.jpg&ehk=k1yvbWgeqnsv81LBUNwz3u6KCemfUi9TBjeBC1dK%2fIE%3d&risl=&pid=ImgRaw&r=0" alt="single rooms" height="401" width="355">

        </div>
        <div class="rooms-topic">
          <h2>SINGLE BED ROOMS</h2>
        </div>
        <div class="rooms-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur ea eum id soluta, ut?
        </div>
        <div class="rooms-price">
          Starting from 85$
        </div>
      </div>

    </div>

  </div>
</section>
<!--=======rooms-outer-->
<!--=======rooms-->
<router-outlet></router-outlet>

